* {
  box-sizing: border-box;
}

html {
  /*background: #010101;*/
}

body {
  /*color: #fff;*/
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.container {
  width: 1200px;
  margin: 20px auto;
  //padding: 10px;
  box-sizing: border-box;
}

.container h1 {
  margin: 0 0 40px 0;
}

.svg {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}

.row {
  margin-bottom: 40px;
}

.item {
  box-sizing: border-box;
  padding: 5px;
  /*border: 1px solid #ccc;*/
  box-shadow: 0 0 0 1px rgba(0,0,0, 0.2);
  border-radius: 2px;
  text-align: center;
}

.item h2 {
  margin: 0 0 20px 0;
  font-size: 25px
}

/* svg style inline */
circle {
  animation: grow 2s infinite;
  transform-origin: center;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transfrom: scale(0.5);
  }
  100% {
    transfrorm: scale(1);
  }
}

/* svg house */
.svg-house {
  background-color: #F6F7F7;
}
.svg-house .background-circle {
  fill: #068C70;
  stroke: #FFFFFF;
  stroke-width: 15px;
}
.svg-house .chimney {
  fill: #FBF6A7;
}
.svg-house .chimney-topper {
  fill: #E04E27;
}
.svg-house .body {
  fill: #FBF6A7;
}
.svg-house .roof {
  fill: #E04E27;
}
.svg-house .door {
  fill: #E04E27;
}
.svg-house .door-knob {
  fill:#FBF6A7;
}
.svg-house line {
  fill: #068C70;
  stroke: #068C70;
  stroke-width: 1px;
}
.svg-house .flower-outer {
  fill: #EC7E23;
}
.svg-house .flower-inner {
  fill: #FBCE1D;
}
.svg-house .text {
  /*font-family: Filmotype Major;*/
  font-size: 50px;
  fill: #3E9FD8;
  stroke: #FFFFFF;
  stroke-width: 2px;
}
.svg-house .windows rect {
  fill: #3E9FD8;
}

.svg-house  .windows line {
  stroke: #E04E27;
  stroke-width: 4px;
}

/* svg shap e*/
.svg-badge circle {
  fill: none;
  stroke: #008B6F;
  stroke-width: 7px;
}
.svg-badge line {
  stroke: black;
  stroke-width: 5px;
}
.svg-badge text {
  font-size: 80px;
  /*font-family: "FilmotypeMajor";*/
  /*centralized text*/
  text-anchor: middle;
  stroke: #000;
  stroke-width: 3px;
  fill: #F6F7F3;
}
.svg-badge polygon {
  fill: #008B6F;
  stroke: black;
  stroke-width: 2px;
}
.svg-badge .triangle-group polygon {
  fill: #59BFC6;
  stroke: #000;
  stroke-width: 2px;
}
/*.svg-badge .triangle-group {
  fill: #59BFC6;
  stroke-width: 1px;
}*/
