<div
    class="svg"
    ng-controller="svgCodeschoolExamplesController">
  <div class="container">
    <h1>Svg examples</h1>

    <div class="row">
      <div class="col-md-4">
        <div class="item">
          <h2>Computer</h2>
          <svg
              xmlns="http://www.w3.org/2000/svg"
              version="1.1">
            <rect height="80" width="100" fill="gray" />
            <rect height="50" width="80" fill="white" x="10" y="10" />
            <rect height="10" width="40" fill="gray" x="30" y="90" />
          </svg>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <h2>House Svg</h2>
          <?xml version="1.0" encoding="utf-8"?>
          <svg
              class="svg-house"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              height="340"
              width="340">
            <!-- Bg Circle -->
            <circle class="background-circle" cx="170" cy="170" r="162" />

            <!-- Chimney -->
            <rect class="chimney" height="21" width="14" x="98" y="127"/>

            <!-- Chimney Topper -->
            <rect class="chimney-topper" height="4" width="20" x="95" y="123"/>

            <!-- House -->
            <rect class="body" height="84" width="162" x="90" y="198" />
            <!-- <rect class="roof" height="56" width="184" x="80" y="148" /> -->
            <polygon class="roof" points="256,148 262,203 80,203 87,148 327,148" />

            <!-- Door -->
            <rect class="door" height="60" width="36" x="153" y="222"/>
            <rect class="door" x="153" y="218" width="36" height="10" rx="5"/>
            <rect class="door-knob" height="8" width="2" x="183" y="252" />

            <!-- Flower -->
            <line x1="228" y1="267" x2="228" y2="282" />
            <circle class="flower-outer" cx="228" cy="267" r="6" />
            <circle class="flower-inner" cx="231" cy="266" r="2" />

            <!-- TEXT -->
            <text  class="text" x="85" y="97">HOME</text>
          </svg>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <h2>Schmuffle Phone Icon</h2>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" height="110" width="80">
            <rect
                height="100"
                width="70"
                fill="white"
                stroke="pink"
                stroke-width="10"
                x="5"
                y="5"
                rx="5"
                ry="5" />
            <circle
                cx="40"
                cy="105"
                r="3"
                fill="white" />
          </svg>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="item">
          <h2>Svg Badge</h2>
          <svg
            height="268"
            width="268"
            class="svg-badge">

            <!-- any attributes to do with coordinates stays inline -->
            <circle r="130" cx="134" cy="134" />
            <line x1="47" y1="198" x2="221" y2="198" />
            <polygon points="52,190 134,30 216,190" />
            <text x="134" y="142">SVG</text>

            <!-- translate means to move -->
            <!-- by grouping these shapes together, we now have option to transform  -->
            <!-- SVG transform attribute allows us to do multiple things, like translate, rotate, scale -->
            <g class="triangle-group" transform="translate(45, 67)">
              <polygon points="7,10 12,0 17,10" />
              <polygon points="0,25 5,15 10,25" />
              <polygon points="15,25 20,15 25,25" />
            </g>
            <g class="triangle-group" transform="translate(198, 67)">
              <polygon points="7,10 12,0 17,10" />
              <polygon points="0,25 5,15 10,25" />
              <polygon points="15,25 20,15 25,25" />
            </g>
            <g class="triangle-group" transform="translate(121.5, 211)">
              <polygon points="7,10 12,0 17,10" />
              <polygon points="0,25 5,15 10,25" />
              <polygon points="15,25 20,15 25,25" />
            </g>
          </svg>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <h2>Flower</h2>
            <?xml version="1.0" encoding="utf-8"?>
            <svg width="12px" height="21px" viewBox="0 0 12 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
              <!-- Generator: Sketch 3.4.4 (17249) - http://www.bohemiancoding.com/sketch -->
              <title>Group</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Group" sketch:type="MSLayerGroup">
                  <line x1="6" y1="6" x2="6" y2="21" stroke="#068C70" stroke-width="1" sketch:type="MSShapeGroup"/>
                  <!-- order matters -->
                  <circle id="Oval" fill="#EC7E23" sketch:type="MSShapeGroup" cx="6" cy="6" r="6"/>
                  <circle id="Oval" fill="#FBCE1D" sketch:type="MSShapeGroup" cx="9" cy="5" r="2"/>
                </g>
              </g>
            </svg>
        </div>
      </div>
      <div class="col-md-4">

      </div>

    </div>

  </div>
</div>
