<div
    class="svg"
    ng-controller="svgCodeschoolExamplesController">
  <div class="container">

    <div class="svg-icons-list">
      <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          viewbox="0 0 80 110"
          class="defined-icon">
          <symbol id="schmuffle-phone">
            <rect
                height="100"
                width="70"
                fill="white"
                stroke="pink"
                stroke-width="10"
                x="5"
                y="5"
                rx="5"
                ry="5" />
            <circle
                cx="40"
                cy="105"
                r="3"
                fill="white" />
          </symbol>
      </svg>
    </div>

    <h1>Svg examples</h1>

    <div class="row">
      <div class="col-md-4">
        <div class="item">
          <h2>Computer</h2>
          <svg
              xmlns="http://www.w3.org/2000/svg"
              version="1.1">
            <rect height="80" width="100" fill="gray" />
            <rect height="50" width="80" fill="white" x="10" y="10" />
            <rect height="10" width="40" fill="gray" x="30" y="90" />
          </svg>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <h2>House Svg</h2>
          <?xml version="1.0" encoding="utf-8"?>
          <svg
              class="svg-house"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              viewbox="0 0 340 340">
              <title>Home Icon</title>
              <desc>A yellow house with blue windows</desc>  
            <!-- Bg Circle -->
            <circle class="background-circle" cx="170" cy="170" r="162" />

            <!-- Clouds -->
            <path d="M146.487 131.174c-1.34-9.782-13.134-3.526-13.134-3.526-3.228-9.335-12.414-4.146-12.414-4.146-.05-12.91-12.168-7.175-12.168-7.175-2.36-12.985-19.217-13.93-25.15-5.115-4.768 7.05-.497 13.53-.497 13.53C76.05 122.61 76 131.175 76 131.175v2.507h83"/>
            <path d="M286.487 131.174c-1.34-9.782-13.134-3.526-13.134-3.526-3.228-9.335-12.414-4.146-12.414-4.146-.05-12.91-12.167-7.175-12.167-7.175-2.36-12.985-19.217-13.93-25.15-5.115-4.768 7.05-.497 13.53-.497 13.53-7.076-2.134-7.126 6.432-7.126 6.432v2.507h83"/>

            <!-- Chimney -->
            <rect class="chimney" height="21" width="14" x="98" y="127"/>

            <!-- Chimney Topper -->
            <rect class="chimney-topper" height="4" width="20" x="95" y="123"/>

            <!-- House -->
            <rect class="body" height="84" width="162" x="90" y="198" />
            <!-- <rect class="roof" height="56" width="184" x="80" y="148" /> -->
            <polygon class="roof" points="256,148 262,203 80,203 87,148 327,148" />

            <!-- Door -->
            <rect class="door" height="60" width="36" x="153" y="222"/>
            <rect class="door" x="153" y="218" width="36" height="10" rx="5"/>
            <rect class="door-knob" height="8" width="2" x="183" y="252" />

            <g class="windows" transform="translate(72, 110)">
              <!-- Window R  -->
              <rect x="36" y="113" width="14" height="14"/>
              <rect x="52" y="113" width="14" height="14"/>
              <rect x="36" y="129" width="14" height="14"/>
              <rect x="52" y="129" width="14" height="14"/>
              <line x1="34" y1="147" x2="69" y2="147"/>

              <!-- Window L  -->
              <rect x="130" y="113" width="14" height="14"/>
              <rect x="146" y="113" width="14" height="14"/>
              <rect x="130" y="129" width="14" height="14"/>
              <rect x="146" y="129" width="14" height="14"/>
              <line x1="128" y1="147" x2="162" y2="147"/>
            </g>

            <!-- Flower -->
            <g class="flower" transform="scale(.8) translate(60,71)">
              <line x1="228" y1="267" x2="228" y2="282"/>
              <circle class="flower-outer" cx="228" cy="267" r="6"/>
              <circle class="flower-inner" cx="231" cy="266" r="2"/>
            </g>
            <g class="flower" transform="translate(-22, 0)">
              <line x1="228" y1="267" x2="228" y2="282"/>
              <g transform="rotate(195,228,267)">
                <circle class="flower-outer" cx="228" cy="267" r="6"/>
                <circle class="flower-inner" cx="231" cy="266" r="2"/>
              </g>
            </g>
            <g class="flower" transform="translate(-93, 0)">
              <line x1="228" y1="267" x2="228" y2="282"/>
              <g transform="rotate(50,228,267)">
                <circle class="flower-outer" cx="228" cy="267" r="6"/>
                <circle class="flower-inner" cx="231" cy="266" r="2"/>
              </g>
            </g>
            <g class="flower" transform="translate(-116, 0) scale(0.8) translate(55,71)        ">
              <line x1="228" y1="267" x2="228" y2="282"/>
              <circle class="flower-outer" cx="228" cy="267" r="6"/>
              <circle class="flower-inner" cx="231" cy="266" r="2"/>
            </g>

            <!-- TEXT -->
            <text  class="text" x="85" y="97">HOME</text>
          </svg>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <h2>Schmuffle Phone Icon</h2>
          <div class="svg-phone-wrap">
            <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                class="displayed-icon"
                viewbox="0 0 80 110"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                class="defined-icon">
                <title>Schmuffle Phone icon</title>
                <desc>A phone with a large border woth rounded corners, a white screen, and a white round button centered below the screen</desc>
                <use xlink:href="#schmuffle-phone">
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="item">
          <h2>Svg Badge</h2>
          <div class="svg-badge-wrap">
            <!-- Responsive scalabe graphics -->
            <!-- using a viewbox
            1 copy our viewport values into a nested coordinate system called the viewBox
            2 give our viewport responsive values for height and width
            3 moving viewport values to ViewBox
            4 ViewBox origin X,Y -->
            <svg
              viewbox="0 0 268 268"
              class="svg-badge">

              <!-- any attributes to do with coordinates stays inline -->
              <circle r="130" cx="134" cy="134" />
              <line x1="47" y1="198" x2="221" y2="198" />
              <polygon points="52,190 134,30 216,190" />
              <text x="134" y="142">SVG</text>

              <!-- translate means to move -->
              <!-- by grouping these shapes together, we now have option to transform  -->
              <!-- SVG transform attribute allows us to do multiple things, like translate, rotate, scale -->
              <g
                  class="first triangle-group"
                  transform="translate(45, 67), rotate(10 12.5 12.5)">
                <polygon points="7,10 12,0 17,10" />
                <polygon points="0,25 5,15 10,25" />
                <polygon points="15,25 20,15 25,25" />
              </g>
              <g
                  class="second triangle-group"
                  transform="translate(198, 67), rotate(-10 12.5 12.5)">
                <polygon points="7,10 12,0 17,10" />
                <polygon points="0,25 5,15 10,25" />
                <polygon points="15,25 20,15 25,25" />
              </g>
              <g
                  class="triangle-group"
                  transform="translate(121.5, 211) scale(0.6) translate(8,8)">
                <polygon points="7,10 12,0 17,10" />
                <polygon points="0,25 5,15 10,25" />
                <polygon points="15,25 20,15 25,25" />
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <h2>Flower</h2>
            <?xml version="1.0" encoding="utf-8"?>
            <svg width="12px" height="21px" viewBox="0 0 12 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
              <!-- Generator: Sketch 3.4.4 (17249) - http://www.bohemiancoding.com/sketch -->
              <title>Group</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Group" sketch:type="MSLayerGroup">
                  <line x1="6" y1="6" x2="6" y2="21" stroke="#068C70" stroke-width="1" sketch:type="MSShapeGroup"/>
                  <!-- order matters -->
                  <circle id="Oval" fill="#EC7E23" sketch:type="MSShapeGroup" cx="6" cy="6" r="6"/>
                  <circle id="Oval" fill="#FBCE1D" sketch:type="MSShapeGroup" cx="9" cy="5" r="2"/>
                </g>
              </g>
            </svg>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <h2>Facebook</h2>
          <div class="svg-facebook-wrap">
            <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                class="displayed-icon"
                viewbox="0 0 80 110"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                class="defined-icon">
                <use xlink:href="/assets/svg/facebook.svg#facebook">
            </svg>
          </div>
        </div>
      </div>

    </div>

    <h2>Paths are fun</h2>
    <div class="paths">
      <div class="row">
          <div class="col-md-4">
            <div class="item">
              <h3>Triangle</h3>
              <svg
                 xmlns="http://www.w3.org/2000/svg"
                 version="1.1"
                 viewbox="0 0 30 30">
                 <path d="M7,10 L7,10 L12,0 L17,10 Z"><path>
              </svg>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item">
              <h3>Cubic Bezier Path</h3>
              <svg
                 xmlns="http://www.w3.org/2000/svg"
                 version="1.1"
                 viewbox="0 0 400 400">
                 <path d="M100,300 c0,150 250,-100 250,50"><path>
              </svg>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item">
              <h3>Quadratic Bezier Curve</h3>
              <svg
                 xmlns="http://www.w3.org/2000/svg"
                 version="1.1"
                 viewbox="0 0 400 400">
                 <path d="M100 200 Q200 0 300 200"><path>
              </svg>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="item">
              <h3>Elliptical Arc Curve</h3>
              <svg
                 xmlns="http://www.w3.org/2000/svg"
                 version="1.1"
                 viewbox="0 0 400 400">
                 <path d="M350 300 A50 50 0 1 0 150 300 c150 400 350 300 350 400 A50 50 0 1 1 150 400"><path>
              </svg>
            </div>
        </div>
    </div>


  </div>
</div>
