<div
    class="svg"
    ng-controller="svgCodeschoolExamplesController">
  <div class="container">
    <h1>Svg examples</h1>

    <div class="row">
      <div class="col-md-4">
        <div class="item">
          <h2>Computer</h2>
          <svg
              xmlns="http://www.w3.org/2000/svg"
              version="1.1">
            <rect height="80" width="100" fill="gray" />
            <rect height="50" width="80" fill="white" x="10" y="10" />
            <rect height="10" width="40" fill="gray" x="30" y="90" />
          </svg>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <h2>House Svg</h2>
          <?xml version="1.0" encoding="utf-8"?>
          <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              style="background-color:#F6F7F7;"
              height="340"
              width="340">
            <!-- Bg Circle -->
            <circle cx="170" cy="170" r="162" fill="#068C70" stroke="#ffffff" stroke-width="15" />

            <!-- Chimney -->
            <rect height="21" width="14" fill="#FBF6A7" x="98" y="127"/>

            <!-- Chimney Topper -->
            <rect height="4" width="20" fill="#E04E27" x="95" y="123"/>

            <!-- House -->
            <rect height="84" width="162" fill="#FBF6A7" x="90" y="198" />
            <rect height="56" width="184" fill="#E04E27" x="80" y="148" />

            <!-- Door -->
            <rect height="60" width="36" fill="#E04E27" x="153" y="222"/>
            <rect x="153" y="218" fill="#E04E27" width="36" height="10" rx="5"/>
            <rect height="8" width="2" fill="#FBF6A7" x="183" y="252" />

            <!-- Flower -->
            <line x1="228" y1="267" x2="228" y2="282" stroke="#068C70" stroke-width="1"/>
            <circle fill="#EC7E23" cx="228" cy="267" r="6"/>
            <circle fill="#FBCE1D" cx="231" cy="266" r="2"/>

            <!-- TEXT -->
            <text x="85" y="97" font-size="70" fill="#3E9FD8" stroke="#fff" stroke-width="2" font-family="Filmotype Major.">HOME</text>
          </svg>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <h2>Schmuffle Phone Icon</h2>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" height="110" width="80">
            <rect
                height="100"
                width="70"
                fill="white"
                stroke="pink"
                stroke-width="10"
                x="5"
                y="5"
                rx="5"
                ry="5" />
            <circle
                cx="40"
                cy="105"
                r="3"
                fill="white" />
          </svg>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="item">
          <h2>Shapes</h2>
          <svg
            height="268"
            width="268"
            class="svg-shape">
            <!-- any attributes to do with coordinates stays inline -->
            <circle r="130" cx="134" cy="134" />
            <line x1="47" y1="198" x2="221" y2="198" />
            <polygon points="52,190 134,30 216,190" />
            <text x="134" y="142">SVG</text>

          </svg>
        </div>

      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>

    </div>

  </div>
</div>
